.hidden{
	display: none;
}

.delete-game{
	padding-top: 50px;			/* temporary !! */
}

.dev-tools{
	border: solid 2px grey;
	margin-bottom: 50px;
	/*display:none;*/
}
 	.dev-tools button {
		height: auto;
		width: auto;
	}

li{
	list-style-type: none;
}
