.dev-tools{
	border: solid 2px orange;

	color: orange;
	/*display:none;*/
}

.hidden{
	display: none;
}

.delete-game{
	padding-top: 20px;			/* temporary !! */
}

li{
	list-style-type: none;
	font-size: 1.5rem
}

.li-checkbox [type=checkbox] {
    /*zoom: 0;   not a good way to to this*/
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	margin-top: 0;
}